# Core Data Science Stack
pandas
numpy
matplotlib
seaborn
pyarrow

# Machine Learning & Modeling
scikit-learn
xgboost
lightgbm
shap
pip freeze

# Project Utilities
python-dotenv
ipykernel

#App
streamlit